*
{
    margin: 0;
    padding: 0;
}
.row
{
    max-width: 1140px;
    margin: 0 auto;
}

body
{
 font-family:tahoma;
}
.hero
{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
header
{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/green_nature_dual_monitor-other.jpg);
    height: 100vh;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
}
h1
{
   color: white;
}
.main-nav
{
    list-style:none;
    float: right;
    margin-top: 30px;
}
.main-nav li
{
    display: inline-block;
    margin-left: 20px;

}
.main-nav li a
{
    color: white;
    text-decoration: none;
    font-size: 100%;
}
.main-nav li a:hover
{
    color: greenyellow;
    border-bottom:2px solid greenyellow;
    transition: all 0.5s ease-in;
    padding: 5px 0;
}

.logo img
{
    height: 100px;
    float: left;
    margin-top: 30px;
}
.btn
{
    border:1px solid greenyellow;
    padding: 10px 30px;
    color: greenyellow;
    text-decoration: none;
    border-radius: 8px;
    margin-right:15px;
    
}
.button-awesome
{
    margin-top: 30px;
}
.btn-half
{
    background-color: greenyellow;
    color: white;
}
.btn-full:hover
{
    background-color: greenyellow;
    color:white;
    transition: all 0.5s ease-in;
}
.copy
{
    width: 70%;
    margin-left: 15%;
    margin-bottom: 15px;
}
h3:after
{
    width: 100px;
    height: 2px;
    background-color:greenyellow;
    display: block;
    content: "";
    margin: auto;
    margin-top: 15px;
    
}
.features h3
{
    margin-top: 30px;
    margin-bottom: 25px;
}
.arranging
{
    text-align: justify;
}
.features i
{           
    font-size: 35px;
    color: greenyellow;
    margin-left: 35%;
    
}
.features h4
{
    margin-left: 40px;
}
.meal-showcase
{
    list-style: none;
    width: 100%;
}
.meal-showcase li
{
    display: block;
    width: 25%;
    float: left;
}
.meal-photo
{
    width: 100%;
    margin: 0;
    overflow: hidden;
}
.meal-photo img
{
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition:all 0.5s;
}
.meal-photo img:hover
{
   transform: scale(1.05);
}
.meal
{
    margin-top: 50px;
}
.pic img
{
    width:100%;
    margin-left:25%;
}
.works-step
{
 margin-top: 17%; 
}
.works-step div
{
    border: 1px solid greenyellow;
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.works-step img
{
    height: 40px;   
    margin-top: 20px;  
    margin-right: 10px;
}
.clearfix
{
   zoom:1; 
}
.clearfix:after
{
    visibility: :hidden;
    content: ".";
    height: 0;
    display: block;
    clear: both;
}
.mobile
{
    margin-top: 40px;
}
.cities
{
    margin-top: 50px;
}
.cities img
{
  width: 100%;
    margin-top: 40px;
}
.cities i
{
    color: yellowgreen;
}
.testimonials
{
    margin-top: 80px;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/green_nature_dual_monitor-other.jpg);
    padding-top: 30px;
    padding-bottom: 80px;
    color: white;
    text-align: justify;
    background-attachment: fixed;
    
}
.testimonials p
{
    color: white;
    line-height: 25px;
    margin-top: 40px;
}
.testimonials cite img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}